In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Food Balance Sheet.csv')

In [3]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
#Total Animal Fat Produced in 2014:
df_fat= df.groupby('Item')
df_fat.first()

,Area Code,Area,Item Code,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,,,,
"Alcohol, Non-Food",4,Algeria,2659,5511,Production,1000 tonnes,0.0,0.0,0.0,0.0,0.0
Alcoholic Beverages,4,Algeria,2924,5511,Production,1000 tonnes,191.0,160.0,153.0,193.0,231.0
Animal Products,4,Algeria,2941,664,Food supply (kcal/capita/day),kcal/capita/day,444.0,421.0,431.0,421.0,390.0
Animal fats,4,Algeria,2946,5511,Production,1000 tonnes,18.0,17.0,17.0,17.0,16.0
Apples and products,4,Algeria,2617,5511,Production,1000 tonnes,463.0,451.0,501.0,494.0,488.0
...,...,...,...,...,...,...,...,...,...,...,...
"Vegetables, Other",4,Algeria,2605,5511,Production,1000 tonnes,5063.0,5206.0,5524.0,5715.0,6300.0
Vegetal Products,4,Algeria,2903,664,Food supply (kcal/capita/day),kcal/capita/day,2932.0,2958.0,2941.0,2921.0,2932.0
Wheat and products,4,Algeria,2511,5511,Production,1000 tonnes,2436.0,2657.0,2440.0,2437.0,3981.0
Wine,4,Algeria,2655,5511,Production,1000 tonnes,52.0,10.0,7.0,62.0,54.0
Yams,4,Algeria,2535,5911,Export Quantity,1000 tonnes,0.0,0.0,0.0,0.0,0.0

In [5]:
total_fat = df_fat.get_group('Animal fats')
total_fat['Y2014'].sum()

209460.54

In [6]:
total_fat['Y2017'].sum()

269617.53

In [7]:
df['Y2015'].mean()

135.23596649549236

In [8]:
df['Y2015'].std()

1603.4039839423301

In [9]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [10]:
total = df['Y2016'].count()
null = df['Y2016'].isnull().sum()
perc = (null/total)*100
print('sum of missing values in 2016 is', null)
print('percentage of missing values in 2016 is', perc)
total

sum of missing values in 2016 is 1535
percentage of missing values in 2016 is 2.583827093994075

59408

In [11]:
df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [12]:
df_gr = df.groupby('Element')
df_gr.first()

,Area Code,Area,Item Code,Item,Element Code,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,,,,
Domestic supply quantity,4,Algeria,2501,Population,5301,1000 tonnes,0.00,0.00,0.00,0.00,0.00
Export Quantity,4,Algeria,2905,Cereals - Excluding Beer,5911,1000 tonnes,3.00,7.00,7.00,10.00,17.00
Fat supply quantity (g/capita/day),4,Algeria,2901,Grand Total,684,g/capita/day,80.06,79.36,77.40,80.19,77.28
Feed,4,Algeria,2905,Cereals - Excluding Beer,5521,1000 tonnes,4725.00,5070.00,4838.00,4667.00,5266.00
Food,4,Algeria,2905,Cereals - Excluding Beer,5142,1000 tonnes,8546.00,8729.00,9001.00,8941.00,9219.00
Food supply (kcal/capita/day),4,Algeria,2901,Grand Total,664,kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
Food supply quantity (kg/capita/yr),4,Algeria,2905,Cereals - Excluding Beer,645,kg,219.56,219.72,221.98,216.02,218.31
Import Quantity,4,Algeria,2905,Cereals - Excluding Beer,5611,1000 tonnes,12604.00,13983.00,13523.00,13039.00,13182.00
Losses,4,Algeria,2905,Cereals - Excluding Beer,5123,1000 tonnes,1084.00,1203.00,1148.00,1121.00,1253.00
Other uses (non-food),4,Algeria,2905,Cereals - Excluding Beer,5154,1000 tonnes,787.00,847.00,835.00,840.00,951.00
Processing,4,Algeria,2905,Cereals - Excluding Beer,5131,1000 tonnes,35.00,38.00,37.00,33.00,44.00
Production,4,Algeria,2905,Cereals - Excluding Beer,5511,1000 tonnes,3436.00,3761.00,3445.00,3478.00,6065.00
Protein supply quantity (g/capita/day),4,Algeria,2901,Grand Total,674,g/capita/day,94.90,94.35,94.72,92.82,91.83
Residuals,4,Algeria,2905,Cereals - Excluding Beer,5170,1000 tonnes,0.00,0.00,0.00,0.00,-8.00
Seed,4,Algeria,2905,Cereals - Excluding Beer,5527,1000 tonnes,177.00,189.00,197.00,202.00,278.00
Stock Variation,4,Algeria,2905,Cereals - Excluding Beer,5072,1000 tonnes,684.00,1663.00,905.00,705.00,2226.00
Total Population - Both sexes,4,Algeria,2501,Population,511,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
Tourist consumption,7,Angola,2913,Oilcrops,5171,1000 tonnes,0.00,0.00,0.00,0.00,0.00

In [13]:
print(df_gr.get_group('Import Quantity')['Y2014'].sum())
print(df_gr.get_group('Import Quantity')['Y2015'].sum())
print(df_gr.get_group('Import Quantity')['Y2016'].sum())
print(df_gr.get_group('Import Quantity')['Y2017'].sum())
print(df_gr.get_group('Import Quantity')['Y2018'].sum())

274144.48
267018.45999999996
286582.78
294559.09
287997.08999999997

In [14]:
df_gr.get_group('Production')['Y2014'].sum()

1931287.75

In [15]:
select_df = df[['Y2018', 'Element']]
print(select_df.groupby('Element').get_group('Seed').sum())
print(select_df.groupby('Element').get_group('Protein supply quantity (g/capita/day)').sum())
print(select_df.groupby('Element').get_group('Food supply quantity (kg/capita/yr)').sum())
print(select_df.groupby('Element').get_group('Food supply (kcal/capita/day)').sum())

Y2018                                               25263.14
Element    SeedSeedSeedSeedSeedSeedSeedSeedSeedSeedSeedSe...
dtype: object
Y2018                                               11833.56
Element    Protein supply quantity (g/capita/day)Protein ...
dtype: object
Y2018                                               49056.85
Element    Food supply quantity (kg/capita/yr)Food supply...
dtype: object
Y2018                                               455261.0
Element    Food supply (kcal/capita/day)Food supply (kcal...
dtype: object

In [16]:
df[df['Area'] == 'Algeria'].groupby('Element').get_group('Import Quantity')['Y2018'].sum()

36238.29

In [17]:
df['Area'].nunique()

49

In [34]:
sel = df.select_dtypes(include='object').columns.tolist()
for i in sel:
    obs = df[i].value_counts()